<div class="container mt-5">
<div class="form-area">
   

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>First name</label>
            <input formControlName="fullName" type="text" placeholder="First name" class="form-control" name="fullName" />
            <div class="alert alert-danger" *ngIf="fullName.touched && fullName.invalid">
                <div  *ngIf="fullName.errors?.required">Required</div>
                <div *ngIf="fullName.errors?.minlength">MinLength</div>
    </div>
    </div>
    
        <div class="form-group">
            <label>Email</label>
            <input formControlName="email" type="email" placeholder="Email" class="form-control" name="email" />
            <div class="alert alert-danger" *ngIf="Email.touched && Email.invalid">
                <div  *ngIf="Email.errors?.required">Required</div>
                <div *ngIf="Email.errors?.pattern">Pattern</div>
    </div>
        </div>

        <div formGroupName="contactDetails">
       <div class="form-group">
        <label>Address</label>
        <textarea 
        placeholder="Address" class="form-control" 
        name="address" formControlName="address"></textarea>
       <div class="alert alert-danger" *ngIf="Address.touched && Address.invalid">
                <div  *ngIf="Address.errors?.required">Required</div>
    </div>
    </div>
    <div class="form-group">
        <label>Shipping Adress</label>
        <textarea 
        placeholder="Address" class="form-control" 
        name="address" formControlName="shippingAddress"></textarea>
        <div class="alert alert-danger" *ngIf="shippingAddress.touched && shippingAddress.invalid">
            <div  *ngIf="shippingAddress.errors?.required">Required</div>
</div>
    </div>
    <div class="form-group">
        <label>Contact No</label>
        <input formControlName="contactNo" type="text" placeholder="Contact No" class="form-control" />
        <div class="alert alert-danger" *ngIf="contactNo.touched && contactNo.invalid" >
            <div  *ngIf="contactNo.errors?.required">Required</div>
            <div *ngIf="contactNo.errors?.pattern">Pattern</div>
</div>
</div>

        </div>
        <div class="form-group">
            <label>Skills</label>
               <input placeholder="Skills" type="text" name="skill" class="form-control" #skill (keyup.enter)="addSkills(skill)" />
               <br/>
               <ul class="list-group">
                   <li class="list-group item" *ngFor="let skill of Skills.controls;let i=index">
                       {{skill.value}}
                       <a href="" class="btn- btn-sm btn-danger" (click)="removeSkills(i)">X</a>
                   </li>
               </ul>
   </div>
        
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit</button>
    </form> 
</div>

</div>

