.text-red{
    color: red;
}
.main-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: '100px';
    height: '100px';
}
.main{
    color: red;

}
.text-weight{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}